* {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 29px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 25px;
}

p {
	font-size: 24px;
}

span {
	font-size: 24px;
}

li {
	font-size: 24px;
}

body {
	padding: 0 10%;
}

ul {
	margin-left: 50px;
}

ol {
	margin-left: 50px;
}

h1#title {
	margin-top: 3px;
	text-align: center;
}

p#ExP {
	text-align: center;
}

.UnderLine {
	border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.TopLine {
	border-top: 1px solid rgba(0, 0, 0, .25);
}

ul.Funcs li{
	list-style-type: decimal;
}

li.WaysLi {
	list-style-type: disc;
}

li.WarnsLi {
	list-style-type: square;
}

span.CodeContent {
	background-color: rgba(0, 0, 0, .08);
	color: rgba(0, 0, 0, .9);
	font-style: italic;
}
